
body {
  margin: 0;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background: whitesmoke;
  color: black;
}


header {
  background: black;
  color: white;
  padding: 15px 0;
}

nav {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  animation: an1 3s linear 2s ease-out;
}
@keyframes an1 {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


nav ul li a:hover {
  text-decoration: underline;
}

.logo {
  font-size: 40px;
}


.hero {
  background: gold;
  color: black;
  text-align: center;
  padding: 60px 20px;
}

.hero h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background: white;
  color: blue;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.btn:hover {
  background: white;
  
}


.about, .services, .contact {
  padding: 50px 20px;
  text-align: center;
  background: gold;
  margin: 20px 0;
  border-radius: 8px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}


.services {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.service-box {
  background: white;
  padding: 20px;
  border-radius: 8px;
}


footer {
  background: black;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 20px;
}

